.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.produto img {
  margin-bottom: 2em;
}
.preco {
  padding: 0.5em;
  background: #91fb5d;
  color: #017e01;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
.descricao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
}
